requests~=2.32.3
beautifulsoup4~=4.12.3
lxml==4.9.3
pandas==2.1.4
openpyxl==3.1.2 
redis~=5.2.1
w3lib~=2.2.1
loguru~=0.7.3
setuptools~=75.1.0
httpx~=0.27.2
aiohttp~=3.11.11
ujson~=5.10.0
parsel~=1.9.1
click~=7.1.2
anyio~=4.7.0
httpcore~=1.0.7
aioredis~=2.0.1